# Ignore documents cache
*.ods#

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Ignore compiled objects (GPASM) #
*.o
*.lst
*.cod
*.hex
*.cof
*.map



# Kicad files
##########################

*.kicad_pcb-bak
*.bak
*.pro


# Arduino builds
##########################
build-*



# Arduino builds
##########################
build-*
.vscode
